Package: wallet-cli-dbgsym
Package-Type: ddeb
Source: wallet-cli
Version: 0.1.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: SIROS Foundation <info@siros.org>
Installed-Size: 6653
Depends: wallet-cli (= 0.1.0-1)
Section: debug
Priority: optional
Description: debug symbols for wallet-cli
Build-Ids: 6a702481a6afaae55591fc0fe25774e094ebe46e
